---
title: Techies Lab - Playground for kids & teenagers to experiment with technology
---

<!-- Main -->
<section class="main text-center" id="home">
  <div class="page">
    <div class="wrapper">
      <div class="container">
        <%= image_tag "logo/robot.png", alt: "Logo", class: "main-logo" %>
        <h1 class="heading"><span id="name">Techies Lab</span><br><%= t('.header.soon') %></h1>
        <p id="tagline">
          <%= t('.header.subtitle') %>
        </p>
        <!-- <div class="row">
          <div id="countdown"></div>
        </div> -->
        <!-- Subscription form -->
        <form class="signup" action="//techieslab.us11.list-manage.com/subscribe/post-json?u=4e5edbd56b4da2771ce53024c&amp;id=1c0ef6f860&c=?" role="form" id="signupForm">
          <div class="input-group" style="margin: 0 auto;">
            <div class="form-group pull-left">
              <input type="email" name="EMAIL" class="form-control" placeholder="<%= t('.header.email') %>">
            </div>
            <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left"><span class="ladda-label"><%= t('.header.button') %></span></button>
          </div>
          <div id="mce-responses" class="clear">
            <div id="mce-error-response" class="response alert alert-danger alert-dismissible" style="display:none" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span class="answer"></span>
            </div>
            <div id="mce-success-response" class="response alert alert-success alert-dismissible" style="display:none" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <span class="answer"></span>
            </div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_4e5edbd56b4da2771ce53024c_1c0ef6f860" tabindex="-1" value=""></div>
          <div class="clear">
        </form>
        <footer class="text-center">
          <div class="social">
            <a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
            <a href="#" class="btn btn-theme"><i class="fa fa-dribbble"></i></a>
            <a href="#" class="btn btn-theme"><i class="fa fa-linkedin"></i></a>
          </div>
        </footer>
      </div>
      <div class="arrow-down">
        <a class="scroll" href="#about" id="scroll"><i class="fa fa-angle-double-down"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- About -->
<section id="about" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t('.about.title') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="lead">
          <strong><%= t('about.lead.drop') %></strong> <%= t('about.lead.text') %>
        </p>
        <p><%= t('about.intro') %>
        </p>
        <div class="row">
          <div class="col-sm-4 feature-box-container">
            <div class="feature-box wow fadeInDown">
              <div class="icon">
                <i class="fa fa-cogs"></i>
              </div>
              <div class="description">
                <h4><%= t('about.box1.title') %></h4>
                <p><%= t('about.box1.text') %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 feature-box-container">
            <div class="feature-box wow fadeInDown" data-wow-delay="0.2s">
              <div class="icon">
                <i class="fa fa-rocket"></i>
              </div>
              <div class="description">
                <h4><%= t('about.box2.title') %></h4>
                <p><%= t('about.box2.text') %>
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4 feature-box-container">
            <div class="feature-box wow fadeInDown" data-wow-delay="0.4s">
              <div class="icon">
                <i class="fa fa-heart"></i>
              </div>
              <div class="description">
                <h4><%= t('about.box3.title') %></h4>
                <p><%= t('about.box3.text') %>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Team -->
<section id="team" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t('.team.title') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-sm-3 text-center team-member-container wow fadeInDown">
        <div class="team-member">
          <div class="team-member-img">
            <%= image_tag "portraits/1.jpg", alt: "", class: "img-responsive" %>
          </div>
          <div class="team-member-meta">
            <h4><%= t('.team.member1.name') %></h4>
            <span class="team-member-profession"><%= t('.team.member1.role') %></span>
            <p><%= t('.team.member1.text') %></p>
            <div class="social">
              <a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
              <a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
              <a href="#‎" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-center team-member-container wow fadeInDown" data-wow-delay="0.2s">
        <div class="team-member">
          <div class="team-member-img">
            <%= image_tag "portraits/2.jpg", alt: "", class: "img-responsive" %>
          </div>
          <div class="team-member-meta">
            <h4><%= t('.team.member2.name') %></h4>
            <span class="team-member-profession"><%= t('.team.member2.role') %></span>
            <p><%= t('.team.member2.text') %></p>
            <div class="social">
              <a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
              <a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
              <a href="#‎" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-center team-member-container wow fadeInDown" data-wow-delay="0.4s">
        <div class="team-member">
          <div class="team-member-img">
            <%= image_tag "portraits/3.jpg", alt: "", class: "img-responsive" %>
          </div>
          <div class="team-member-meta">
            <h4><%= t('.team.member3.name') %></h4>
            <span class="team-member-profession"><%= t('.team.member3.role') %></span>
            <p><%= t('.team.member3.text') %></p>
            <div class="social">
              <a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
              <a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
              <a href="#‎" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 text-center team-member-container wow fadeInDown" data-wow-delay="0.6s">
        <div class="team-member">
          <div class="team-member-img">
            <%= image_tag "portraits/4.jpg", alt: "", class: "img-responsive" %>
          </div>
          <div class="team-member-meta">
            <h4><%= t('.team.member4.name') %></h4>
            <span class="team-member-profession"><%= t('.team.member4.role') %></span>
            <p><%= t('.team.member4.text') %></p>
            <div class="social">
              <a href="#" class="btn btn-theme"><i class="fa fa-facebook"></i></a>
              <a href="#" class="btn btn-theme"><i class="fa fa-twitter"></i></a>
              <a href="#‎" class="btn btn-theme"><i class="fa fa-google-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="section-title"><%= t('.contact.title') %></h3>
        <div class="section-title-border"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <p>
          <strong><%= t('.contact.intro.drop') %></strong> <%= t('.contact.intro.text') %>
        </p>
        <ul class="list-contacts">
          <li><i class="fa fa-phone"></i> (123) 456-7890</li>
          <li><i class="fa fa-mobile-phone"></i> (123) 987-6543</li>
          <li><i class="fa fa-map-marker"></i> 1795 Folsom Ave, Suite 600<br> San Francisco, CA 94107</li>
          <li><i class="fa fa-envelope-o"></i> <a href="mailto:info@seventytwo.com">info@seventytwo.com</a></li>
        </ul>
      </div>
      <div class="col-sm-6">
        <form class="form-horizontal" action="//formspree.io/anne@techieslab.org" method="post" role="form" id="contactForm">
          <div class="form-group">
            <div class="col-sm-6">
              <input type="text" name="name" class="form-control" placeholder="<%= t('.contact.form.name') %>">
            </div>
            <div class="col-sm-6">
              <input type="text" name="contactEmail" class="form-control" placeholder="<%= t('.contact.form.email') %>">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <textarea name="message" class="form-control" rows="8" placeholder="<%= t('.contact.form.message') %>"></textarea>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-theme ladda-button" data-style="expand-left">
                <span class="ladda-label"><%= t('.contact.form.submit') %></span>
              </button>
            </div>
          </div>
          <input type="text" name="_gotcha" style="display:none" />
        </form>
      </div>
    </div>
  </div>
</section>